<!doctype html>
<head>
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.0/jquery.mobile-1.4.0.min.css" />
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.0/jquery.mobile-1.4.0.min.js"></script>
</head>

<style>
h3, h4 {text-align: center;}
span {font-weight: bold;}
</style>

<script type=text/javascript>

    function popList()
    {
        var $select = $('#fileslist');
        var selected = $("#fileslist option:selected").text();
        $.getJSON('/_getreclist', function( reclist ) {
            $select.empty();
            $.each(reclist, function(index, value) {
			    $select.append("<option value='"+value+"'>" + value + "</option>");
                if ( selected == "" ){
                    selected = value;
                }
		    });
                console.log("selected = ??")
            if ( selected != "" ){
                $select.val(selected).change();
                console.log("selected = " + selected)
            }
       });
    }

    $("#fileslist").ready(
        function() 
        {
            popList();
        }
    ); 

    $(
    // When the LED button is pressed (change)
    // do an ajax request to server to change LED state
    function() 
    {

        $('#controllerCanvas').css('background-color', 'rgba(255,0,0, 0.2)');

        $('#controllerCanvas').mousedown( function(e) 
        {
            console.log("canvas mouse down");
            var offset = $(this).offset();
            $.getJSON('/_canvas', { x: (e.pageX - offset.left) / ($(this).width()),y: (e.pageY - offset.top) / ($(this).height())});
        });
        
        $('#recorder').click( function() 
        {
            $.getJSON('/_reconoff', function( state ) {
                if (state )
                    $('#recorder').text("Turn Recording Off");
                else
                    $('#recorder').text("Turn Recording On");
            });
        });     
     
        $('#saverec').click( function() 
        {
            $.getJSON('/_saverec');
            popList();
        });     

        $('#loadrec').click( function() 
        {
            $.getJSON('/_loadrec',{filename: $("#fileslist option:selected").text() });
        });     

        $('#playrec').click( function() 
        {
            $.getJSON('/_playrecording');
        });     

    }
    );



</script>

<div data-role="page" data-theme="b">
    <div style="text-align:center;">
        <canvas id="controllerCanvas" width="250" height="250"></canvas>
    </div>
    <div class="ui-grid-a">
<button class="ui-block-a" type="button" id="recorder" >Turn Recording On</button>
<button class="ui-block-b" type="button" id="saverec" >Save Current Recording</button>
</div>
<div>
    <button  type="button" id="playrec" >Play Current Recording</button>
</div>
<div class="ui-grid-a">
<div  class="ui-block-a">
<select id="fileslist"></select>
</div>
<div class="ui-block-b" >
<button type="button" id="loadrec" >Load Selected Recording</button>
</div>
</div>
  <div data-role="header">
    <div><h3>Raspberry Pi Canvas Web Control</h3></div>
  </div>
</div>
