<!doctype html>
<head>
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.0/jquery.mobile-1.4.0.min.css" />
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.0/jquery.mobile-1.4.0.min.js"></script>
</head>

<style>
h3, h4 {text-align: center;}
span {font-weight: bold;}
</style>

<script type=text/javascript>

    function popList()
    {
        var $select = $('#fileslist');
        var selected = $("#fileslist option:selected").text();
        $.getJSON('/_getreclist', function( reclist ) {
            $select.empty();
            $.each(reclist, function(index, value) {
			    $select.append("<option value='"+value+"'>" + value + "</option>");
                if ( selected == "" ){
                    selected = value;
                }
		    });
            if ( selected != "" ){
                $select.val(selected);
            }
       });
    }

    $("#fileslist").ready(
        function() 
        {
            popList();
        }
    ); 

    $(
    // When the LED button is pressed (change)
    // do an ajax request to server to change LED state
    function() 
    {

        $('#controllerCanvas').css('background-color', 'rgba(255,0,0, 0.2)');

        $('#controllerCanvas').mousedown( function(e) 
        {
            console.log("canvas mouse down");
            var offset = $(this).offset();
            $.getJSON('/_canvas', { x: (e.pageX - offset.left) / ($(this).width()),y: (e.pageY - offset.top) / ($(this).height())});
        });
        
        $('#recorder').click( function() 
        {
            $.getJSON('/_reconoff');
        });     
     
        $('#saverec').click( function() 
        {
            $.getJSON('/_saverec');
            popList();
        });     

        $('#loadrec').click( function() 
        {
            $.getJSON('/_loadrec',{filename: $("#fileslist option:selected").text() });
        });     

        $('#playrec').click( function() 
        {
            $.getJSON('/_playrecording');
        });     

    }
    );



</script>

<div data-role="page" data-theme="b">
<canvas id="controllerCanvas" width="250" height="250"></canvas>
<button type="button" id="recorder" >recon</button>
<button type="button" id="saverec" >save</button>
<button type="button" id="playrec" >play</button>
<div>
<button type="button" id="loadrec" >load</button>
<select id="fileslist"></select>

  <div data-role="header">
    <div><h3>Raspberry Pi Web Control</h3></div>
  </div>
</div>
</div>
